.image-text-inner {
  display: flex;
  gap: 2rem;
}

.image-text-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-text-content blockquote {
      font-size: 16px;
    line-height: 26px;
  margin: 14px 0;
    color: #54545c;
}
.image-text-content blockquote a{
  text-decoration: none;  
  color: #0071d0;
}
.image-text-content blockquote a:hover{
  text-decoration: none;  
  color: #0071d0;
}

